@media (max-width: 540px) {
    %title-font {
        font-size: 28px;
        line-height: 36px;
    }

    .works-path__item-title {
        font-size: 16px;
        line-height: 27px;
    }

    .blog-box__item-title {
        font-size: 22px;
        line-height: 36px;
    }
}