@media (max-width: 540px) {
    %title-font {
        font-size: 28px;
        line-height: 36px;
    }

    .works-path__item-title {
        font-size: 16px;
        line-height: 27px;
    }

    .blog-box__item-title {
        font-size: 22px;
        line-height: 36px;
    }

    .about__preview-title {
        font-size: 40px;
        line-height: 48px;
    }

    .inspiration__item {
        font-size: 16px;
        line-height: 23px;
    }

    .blog__category-title,
    .blog__tags-title,
    .recent-posts__title {
        font-size: 16px;
        line-height: 23px;
    }

    .blog__item-title {
        font-size: 24px;
        line-height: 38px;
    }

    .blog__blockquote-author {
        font-size: 16px;
        line-height: 22px;
    }

    .blog-one__comments-name,
    .blog-one__form-title {
        font-size: 16px;
        line-height: 27px;
    }
}