.blog {
    padding: 60px 0 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__category {
        margin-bottom: 36px;
    }

    &__category-title,
    &__tags-title {
        color: $black;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 14px;
    }

    &__category-item {
        margin-bottom: 12px;
    }

    &__category-link {
        color: inherit;
    }

    &__tags {
        margin-bottom: 50px;
    }

    &__tags-title {
        margin-bottom: 18px;
    }

    &__tags-link {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0 16px;
        border-radius: 14px;
        border: 1px solid rgba(#454647, .5);
        color: #8F8D8D;
        font-weight: 600;
        font-size: 14px;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        margin-right: 20px;
    }

    &__items {
        max-width: 730px;
    }

    &__item {
        margin-bottom: 80px;
    }

    &__item-img {
        max-width: 730px;
    }

    &__item-info {
        padding: 25px 0 10px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
    }

    &__item-author,
    &__item-theme {
        color: inherit;
    }

    &__item-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 38px;
        color: $black;
        margin-bottom: 6px;
    }

    &__blockquote {
        padding: 55px 65px;
        margin-bottom: 50px;
        background: rgba(223, 223, 223, 0.50);
        font-size: 24px;
        line-height: 38px;
        font-weight: 300;
        font-style: italic;
        color: $black;
        text-align: center;
    }

    &__blockquote-author {
        padding-top: 23px;
        margin-top: 23px;
        @extend %title-font;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.90);
        position: relative;

        &::after {
            content: '';
            width: 200px;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0.5px;
            background: #6D7278;
            margin: 0 auto;
        }
    }
}