.breadcrumbs {
    padding: 13px 0 14px;
    background-color: rgba(#DFDFDF, .5);
    position: relative;
    z-index: 10;

    &__list {
        display: flex;
        overflow-x: auto;
    }

    &__item {
        padding-right: 8px;
        position: relative;
    }

    &__item::after {
        content: '/';
        position: absolute;
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        color: $default;
    }
}