.breadcrumbs {
    padding: 13px 0 14px;
    background-color: rgba(#DFDFDF, .5);
    position: relative;
    z-index: 100;

    &__list {
        display: flex;
    }

    &__item::after {
        content: '/';
        margin-left: -4px;
        margin-right: 4px;
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        color: $default;
    }
}