.contact-slider {
    padding-bottom: 102px;

    &__link {
        position: relative;
        margin-bottom: 20px;

        &:hover {
            .contact-slider__title {
                opacity: 1;
            }
        }
    }

    &__img {
        width: 170px;
        height: 170px;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        background-color: rgba(#fff, .6);
        text-align: center;
        @extend %title-font;
        line-height: 22px;
        color: rgba($black, .9);
        opacity: 0;
        transition: all .5s;
    }
}