.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;

        @media (max-width: 540px) {
            flex-wrap: wrap;
            padding-top: 42px;
        }
    }

    &__btn {
        background-color: transparent;
        padding: 0;
        border: 0;
        cursor: pointer;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__btn-menu {
        display: none;

        @media (max-width: 540px) {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            position: relative;
            z-index: 12;

            span {
                display: block;
                background-color: #000;
                border-radius: 4px;
                width: 37px;
                height: 3px;
                margin: 6px 0;
            }
        }
    }
}