.menu {
    padding-right: 15px;

    @media (max-width: 540px) {
        width: 100%;
        padding-right: 0;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all .5s;

        &--open {
            transform: translateY(30px);
        }
    }

    &__list {
        display: flex;

        @media (max-width: 540px) {
            display: block;
        }
    }

    &__list-item {
        padding-left: 35px;
        padding-right: 45px;

        @media (max-width: 768px) {
            padding-left: 0;

            & + .menu__list-item {
                padding-right: 0;
            }
        }

        @media (max-width: 540px) {
            padding-right: 0;
        }
    }

    &__list-link {
        @extend %title-font;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9);

        @media (max-width: 540px) {
            display: block;
            padding: 15px 0;
        }
    }

    &__list-link--active {
        padding-bottom: 4px;
        position: relative;

        &::after {
            content: '';
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, .7);
        }
    }
}