.menu {
    padding-right: 15px;

    &__list {
        display: flex;
    }

    &__list-item {
        padding-left: 35px;
        padding-right: 45px;
    }

    &__list-link {
        @extend %title-font;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9);
    }
}