.new-collection {
    text-align: center;
    padding: 45px 0 33px;

    &__title {
        color: $black;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 252px;
            height: 1px;
            background-color: rgba(109, 114, 120, 0.87);
            margin: 0 auto;
        }
    }

    &__text {
        color: $default;
        max-width: 730px;
        margin: 0 auto 27px;
    }
}